<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.techarc.msdk"
    version="0.0.1">
    
    <name>MSDKPlugin</name>
    <description>MSDKPlugin Description</description>
    <author>TechArc</author>
    <license>Apache 2.0 License</license>
    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.6.0" />
        <engine name="cordova-plugman" version=">=4.3.0" />
        <engine name="cordova-windows" version=">=4.2.0" />
    </engines>
    
    <js-module src="www/msdk.js" name="MSDKPlugin">
        <clobbers target="MSDK" />
    </js-module>
    
    <platform name="android">
        <framework src="com.android.support:support-v4:+" value="gradle" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MSDKPlugin">
                <param name="android-package" value="com.tencent.tmgp.luckykat.skychasers.MSDKPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
            android:name="com.tencent.msdk.NameAuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        
            <!-- TODO SDK接入 QQ接入配置 START -->
            <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:launchMode="singleTask"
                android:noHistory="true" >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="tencent1105496342" />
                </intent-filter>
            </activity>
            <activity
                android:name="com.tencent.connect.common.AssistActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            <!-- TODO SDK接入 QQ接入配置 END -->
            <!-- TODO SDK接入 微信接入配置 START -->
            <activity
                android:name="com.tencent.tmgp.luckykat.skychasers.wxapi.WXEntryActivity"
                android:excludeFromRecents="true"
                android:exported="true"
                android:label="WXEntryActivity"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:screenOrientation="portrait"
                android:taskAffinity="com.tencent.tmgp.luckykat.skychasers.diff" >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:scheme="wx4e130355fa253702" />
                </intent-filter>
            </activity>
            <!-- TODO SDK接入 微信接入配置 END -->
            <activity
                android:name="com.tencent.msdk.weixin.qrcode.WXQrCodeActivity"
                android:excludeFromRecents="true"
                android:exported="true"
                android:label="WXQrCodeActivity"
                android:launchMode="singleTask"
                android:taskAffinity="com.tencent.tmgp.luckykat.skychasers.diff"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:theme="@android:style/Theme.Light.NoTitleBar"
                android:screenOrientation="portrait">
            </activity>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- TODO SDK接入必须权限模块 START -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.RESTART_PACKAGES" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            
            <!-- 登录上报时需要带设备名称, 通过蓝牙模块来获取设备名称 -->
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            
            <!-- 可选的权限：异常上报系统log,XG也需要 -->
            <uses-permission android:name="android.permission.READ_LOGS" />
            
            <!-- qxiaomi permission start -->
            <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
            <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <!-- qxiaomi permission end -->
            
            <!-- 接入信鸽需要的其他权限 -->
            <uses-permission android:name="android.permission.BROADCAST_STICKY" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE" /> 
            <!-- TODO SDK接入 必须权限模块 END -->
        </config-file>
        
        <source-file src="src/android/libs/jg_filter_sdk_1.1.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/mid-sdk-2.3.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/MSDK_Android_2.14.4a_svn69363.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/Xg_sdk_v2.46_20160531_1455.jar" target-dir="libs" framework="true" />
        
        <source-file src="src/android/libs/arm64-v8a/libWeGameSample.so" target-dir="libs/arm64-v8a" framework="true" />
        <source-file src="src/android/libs/arm64-v8a/libBugly.so" target-dir="libs/arm64-v8a" framework="true" />
        <source-file src="src/android/libs/arm64-v8a/libMSDK.so" target-dir="libs/arm64-v8a" framework="true" />
        <source-file src="src/android/libs/arm64-v8a/libtpnsSecurity.so" target-dir="libs/arm64-v8a" framework="true" />
        <source-file src="src/android/libs/arm64-v8a/libxguardian.so" target-dir="libs/arm64-v8a" framework="true" />
        
        <source-file src="src/android/libs/armeabi/libWeGameSample.so" target-dir="libs/armeabi" framework="true" />
        <source-file src="src/android/libs/armeabi/libBugly.so" target-dir="libs/armeabi" framework="true" />
        <source-file src="src/android/libs/armeabi/libMSDK.so" target-dir="libs/armeabi" framework="true" />
        <source-file src="src/android/libs/armeabi/libtpnsSecurity.so" target-dir="libs/armeabi" framework="true" />
        <source-file src="src/android/libs/armeabi/libxguardian.so" target-dir="libs/armeabi" framework="true" />
        
        <source-file src="src/android/libs/armeabi-v7a/libWeGameSample.so" target-dir="libs/armeabi-v7a" framework="true" />
        <source-file src="src/android/libs/armeabi-v7a/libBugly.so" target-dir="libs/armeabi-v7a" framework="true" />
        <source-file src="src/android/libs/armeabi-v7a/libMSDK.so" target-dir="libs/armeabi-v7a" framework="true" />
        <source-file src="src/android/libs/armeabi-v7a/libtpnsSecurity.so" target-dir="libs/armeabi-v7a" framework="true" />
        <source-file src="src/android/libs/armeabi-v7a/libxguardian.so" target-dir="libs/armeabi-v7a" framework="true" />
        
        <source-file src="src/android/libs/mips/libWeGameSample.so" target-dir="libs/mips" framework="true" />
        <source-file src="src/android/libs/mips/libMSDK.so" target-dir="libs/mips" framework="true" />
        <source-file src="src/android/libs/mips/libtpnsSecurity.so" target-dir="libs/mips" framework="true" />
        <source-file src="src/android/libs/mips/libxguardian.so" target-dir="libs/mips" framework="true" />
        
        <source-file src="src/android/libs/mips64/libWeGameSample.so" target-dir="libs/mips64" framework="true" />
        <source-file src="src/android/libs/mips64/libMSDK.so" target-dir="libs/mips64" framework="true" />
        <source-file src="src/android/libs/mips64/libtpnsSecurity.so" target-dir="libs/mips64" framework="true" />
        <source-file src="src/android/libs/mips64/libxguardian.so" target-dir="libs/mips64" framework="true" />
        
        <source-file src="src/android/libs/x86/libWeGameSample.so" target-dir="libs/x86" framework="true" />
        <source-file src="src/android/libs/x86/libBugly.so" target-dir="libs/x86" framework="true" />
        <source-file src="src/android/libs/x86/libMSDK.so" target-dir="libs/x86" framework="true" />
        <source-file src="src/android/libs/x86/libtpnsSecurity.so" target-dir="libs/x86" framework="true" />
        <source-file src="src/android/libs/x86/libxguardian.so" target-dir="libs/x86" framework="true" />
        
        <source-file src="src/android/libs/x86_64/libWeGameSample.so" target-dir="libs/x86_64" framework="true" />
        <source-file src="src/android/libs/x86_64/libBugly.so" target-dir="libs/x86_64" framework="true" />
        <source-file src="src/android/libs/x86_64/libMSDK.so" target-dir="libs/x86_64" framework="true" />
        <source-file src="src/android/libs/x86_64/libtpnsSecurity.so" target-dir="libs/x86_64" framework="true" />
        <source-file src="src/android/libs/x86_64/libxguardian.so" target-dir="libs/x86_64" framework="true" />
        
        <source-file src="src/android/res/assets/msdkconfig.ini" target-dir="assets" />
        <source-file src="src/android/res/assets/channel.ini" target-dir="assets" />

        <source-file src="src/android/res/anim/com_tencent_msdk_webview_titlebar_hide.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/com_tencent_msdk_webview_titlebar_show.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/com_tencent_msdk_webview_toolbar_hide.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/com_tencent_msdk_webview_toolbar_show.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/msdk_thrdcall_more_dialog_enter.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/msdk_thrdcall_more_dialog_exit.xml" target-dir="res/anim" />

        <source-file src="src/android/res/drawable/com_tencent_msdk_notice_alert_page_round_top_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_msdk_notice_popup_page_round_top_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_msdk_notice_popup_round_bottom_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_msdk_notice_popup_round_bottom_btn.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_msdk_notice_popup_round_bottom_pressed.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_msdk_webview_btn_bg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_tmassistant_sdk_negtive_btn_pressed.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_tmassistant_sdk_negtive_btn.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_tmassistant_sdk_positive_btn_pressed.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_tmassistant_sdk_positive_btn.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/com_tencent_tmassistant_sdk_pregress_button.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_ad_first_btn_back_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_ad_second_btn_back_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_ad_third_btn_back_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_name_auth_btn_bg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_name_auth_btn_close.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_name_auth_btn_frame_bg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_name_auth_btn_text_color.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_name_auth_btn_text_frame_color.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_name_auth_checkbox_style.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_thrdcall_browser_dialog_btn_cancel_bkg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_thrdcall_delete_fg.xml" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/msdk_thrdcall_sheet_btn_cancel_bkg.xml" target-dir="res/drawable" />

        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_notice_web_loading.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_push_icon.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_close.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_left_unclickable.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_left.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_more.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_qqbrowser.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_refresh.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_right_unclickable.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_right.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_msdk_webview_stop.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_tmassistant_sdk_button_bg.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_tmassistant_sdk_button_blue.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_tmassistant_sdk_button_gray.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_tmassistant_sdk_button_green.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/com_tencent_tmassistant_sdk_popup_bg.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/msdk_thrdcall_action_sheet_base_9.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/msdk_thrdcall_action_sheet_button_cancel_click.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/msdk_thrdcall_action_sheet_button_cancel_normal.9.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-hdpi/msdk_thrdcall_bg_light.9.png" target-dir="res/drawable-hdpi" />

        <source-file src="src/android/res/drawable-ldpi/com_tencent_msdk_notice_web_loading.png" target-dir="res/drawable-ldpi" />
        <source-file src="src/android/res/drawable-ldpi/com_tencent_msdk_push_icon.png" target-dir="res/drawable-ldpi" />

        <source-file src="src/android/res/drawable-mdpi/com_tencent_msdk_notice_web_loading.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/res/drawable-mdpi/com_tencent_msdk_push_icon.png" target-dir="res/drawable-mdpi" />

        <source-file src="src/android/res/drawable-nodpi/appfw_home_list_devider.9.png" target-dir="res/drawable-nodpi" />

        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_notice_popup.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_notice_roll.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_push_icon.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_close.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_left_unclickable.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_left.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_more.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_qqbrowser.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_refresh.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_right_unclickable.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_right.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/com_tencent_msdk_webview_stop.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_btn_nor.9.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_btn_sel.9.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_check_nor.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_check_sel.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_close_nor.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_close_sel.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_correct.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_error.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_item_bg.9.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_must.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_success.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xhdpi/msdk_name_auth_warning.png" target-dir="res/drawable-xhdpi" />

        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_close.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_left_unclickable.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_left.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_more.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_qqbrowser.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_refresh.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_right_unclickable.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_right.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/com_tencent_msdk_webview_stop.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_ad_first_btn_back_bkg_normal.9.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_ad_first_btn_back_bkg_pressed.9.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_ad_second_btn_back_bkg_normal.9.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_ad_second_btn_back_bkg_pressed.9.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_ad_third_btn_back_bkg_normal.9.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_ad_third_btn_back_bkg_pressed.9.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_thrdcall_open_by_other_browser.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_thrdcall_open_by_qq_browser.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_thrdcall_share_friend.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_thrdcall_share_qq.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_thrdcall_share_qzone.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/msdk_thrdcall_share_weixin.png" target-dir="res/drawable-xxhdpi" />

        <source-file src="src/android/res/layout/com_tencent_msdk_notice_roll.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/com_tencent_msdk_notice_text_url.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/com_tencent_msdk_notice_text.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/com_tencent_msdk_qrcode_window.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/com_tencent_msdk_webview_window.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/com_tencent_tmassistant_sdk_white_list_dlg.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_pause_three_default.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_pause_three_show.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_pause_two_default.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_pause_two_show.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_stop_three_default.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_stop_three_show.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_stop_two_default.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_ad_stop_two_show.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_name_auth_dialog.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_name_auth_main.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_name_auth_web_dialog.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_thrdcall_dlg_griditem.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/msdk_thrdcall_dlg_sheet.xml" target-dir="res/layout" />

        <source-file src="src/android/res/layout-land/com_tencent_msdk_notice_image_url.xml" target-dir="res/layout-land" />
        <source-file src="src/android/res/layout-land/com_tencent_msdk_notice_image.xml" target-dir="res/layout-land" />
        <source-file src="src/android/res/layout-land/com_tencent_msdk_notice_web_url.xml" target-dir="res/layout-land" />
        <source-file src="src/android/res/layout-land/com_tencent_msdk_notice_web.xml" target-dir="res/layout-land" />


        <source-file src="src/android/res/layout-ldpi/com_tencent_tmassistant_sdk_white_list_dlg.xml" target-dir="res/layout-ldpi" />

        <source-file src="src/android/res/layout-port/com_tencent_msdk_notice_image_url.xml" target-dir="res/layout-port" />
        <source-file src="src/android/res/layout-port/com_tencent_msdk_notice_image.xml" target-dir="res/layout-port" />
        <source-file src="src/android/res/layout-port/com_tencent_msdk_notice_web_url.xml" target-dir="res/layout-port" />
        <source-file src="src/android/res/layout-port/com_tencent_msdk_notice_web.xml" target-dir="res/layout-port" />

        <source-file src="src/android/res/values-hdpi/com_tencent_msdk_dimens.xml" target-dir="res/values-hdpi" />
        <source-file src="src/android/res/values-hdpi/msdk_ad_dimens.xml" target-dir="res/values-hdpi" />
        <source-file src="src/android/res/values-hdpi/msdk_name_auth_dimens.xml" target-dir="res/values-hdpi" />

        <source-file src="src/android/res/values-ldpi/com_tencent_msdk_dimens.xml" target-dir="res/values-ldpi" />
        <source-file src="src/android/res/values-ldpi/com_tencent_tmassistant_sdk_dimens.xml" target-dir="res/values-ldpi" />
        <source-file src="src/android/res/values-ldpi/msdk_ad_dimens.xml" target-dir="res/values-ldpi" />

        <source-file src="src/android/res/values-mdpi/com_tencent_msdk_dimens.xml" target-dir="res/values-mdpi" />
        <source-file src="src/android/res/values-mdpi/msdk_ad_dimens.xml" target-dir="res/values-mdpi" />

        <source-file src="src/android/res/values-xhdpi/com_tencent_msdk_dimens.xml" target-dir="res/values-xhdpi" />
        <source-file src="src/android/res/values-xhdpi/msdk_ad_dimens.xml" target-dir="res/values-xhdpi" />
        <source-file src="src/android/res/values-xhdpi/msdk_name_auth_dimens.xml" target-dir="res/values-xhdpi" />

        <source-file src="src/android/res/values/com_tencent_msdk_colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_msdk_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_msdk_style.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_msdk_webview_colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_msdk_webview_dimens.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_msdk_webview_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_tmassistant_sdk_dimens.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_tmassistant_sdk_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/com_tencent_tmassistant_sdk_styles.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/msdk_ad_colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/msdk_ad_dimens.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/msdk_ad_strings.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/msdk_name_auth_string.xml" target-dir="res/values" />

        <source-file src="src/android/sources/com/tencent/tmgp/luckykat/skychasers/wxapi/WXEntryActivity.java" target-dir="src/com/tencent/tmgp/luckykat/skychasers/wxapi/" />
        <source-file src="src/android/sources/com/tencent/tmgp/luckykat/skychasers/MSDKHelper.java" target-dir="src/com/tencent/tmgp/luckykat/skychasers" />
        <source-file src="src/android/sources/com/tencent/tmgp/luckykat/skychasers/MSDKPlugin.java" target-dir="src/com/tencent/tmgp/luckykat/skychasers" />
        
    </platform>
    
</plugin>